# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
functions/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings
npm-debug.log
testem.log
Homestead.json
Homestead.yaml
yarn-error.log
.project

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

semantic/src
semantic/tasks

# Public Files
/public/hot
/public/storage
/storage/*.key
/vendor

# Configuration Files
.env
.phpunit.result.cache
.htaccess
